{{define "answer/question.html"}}
<div class="question">
    <div class="has-background-info pb-3 is-clickable drag-handle"></div>
    <div class="box">
        <div class="level">
            <div class="level-item level-left">
                <div class="title">{{.Title}}</div>
            </div>
        </div>
        <div class="content">{{ unescape .Description }}</div>
        {{range $i, $option := .Configuration.Options}}
        {{ if eq $.Configuration.QuestionType "single" }}
        <div>
            <label class="radio is-unselectable">
                <input type="radio" name="{{$.Id}}" value="{{$i}}">
                {{.Label}}
            </label>
        </div>
        {{end}}
        {{ if eq $.Configuration.QuestionType "multiple" }}
        <div>
            <label class="checkbox is-unselectable">
                <input type="checkbox" name="{{$.Id}}" value="{{$i}}">
                {{.Label}}
            </label>
        </div>
        {{end}}
        {{end}}
    </div>
</div>
{{end}}