{{define "answer/survey.html"}}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    </head>
    <body>
        <form action="/survey/{{.Survey.Id}}?page={{.Page}}" method="post" class="section container">
            <input type="hidden" name="responseId" value="{{.ResponseId}}">
            <input type="hidden" name="blockId" value="{{.Block.Id}}">
            <input type="hidden" id="click" name="clickTime">
            <input type="hidden" id="submit" name="submitTime">
            {{range $i, $question := .Block.Questions}}
            <div class="block question-container">
                {{template "answer/question.html" $question}}
            </div>
            {{end}}
            <button id="button" class="button is-primary">Submit</button>
        </form>
    </body>
    {{if .Block.Submit}}
    <script>
        let submitAfter = +"{{.Block.SubmitAfter}}"
        addEventListener("load", () => {
            setTimeout(() => {
                document.getElementById("button").click()
            }, submitAfter*1000)
        })    
    </script>
    {{end}}
    <script>
        let start
        addEventListener("load", () => {
            start = performance.now()
        })
        click = () => {
            removeEventListener("click", click)
            document.getElementById("click").value = performance.now()  - start
        }
        submit = (e) => {
            e.preventDefault()
            removeEventListener("submit", submit)
            document.getElementById("submit").value = performance.now() - start
            setTimeout(()=> {
                document.getElementById("button").click()
            })
            
        }

        addEventListener("click", click)

        addEventListener("submit", submit)
    </script>
</html>
{{end}}