{{template "header" .}}
{{with .Data}}
{{block "survey" .}}
<script>
    htmx.onLoad((el) => {
        for (let editor of el.getElementsByClassName('editor')) {
            new Quill(editor, {
                theme: 'snow'
            })
        }
        for (let options of el.getElementsByClassName('options')) {
            Sortable.create(options, {
                handle: '.drag-handle'
            })
        }
        Sortable.create(document.getElementById('questions'), {
            handle: '.drag-handle'
        })
    })
</script>
<div class="section container">
    {{block "navigation" .}}
    <div class="block navigation">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Surveys</a></li>
                <li class="is-active"><a href="/survey?surveyId={{.Id}}" aria-current="page">{{.Title}}</a></li>
            </ul>
        </nav>
        <div class="level">
            {{block "survey-title" .}}
            <div class="level-item level-left">
                <h1 class="title">
                    <span>Survey {{.Title}}</span>
                    <span hx-get="/survey/title/edit?surveyId={{.Id}}" hx-target="closest div" hx-swap="outerHTML" class="icon is-small is-clickable">
                        <span class="mdi mdi-pencil is-size-4"></span>
                    </span>
                </h1>
            </div>
            {{end}}
            <div class="level-item level-right">
                <button class="button is-primary level-item level-right" hx-post="/question?surveyId={{.Id}}" hx-target="#questions" hx-swap="beforeend">
                    <span class="icon">
                        <span class="mdi mdi-plus"></span>
                    </span>
                    <span>Add an Amazing question</span>
                </button>
            </div>
        </div>
    </div>
    {{end}}
    <form hx-put="/survey/reorder?surveyId={{.Id}}" hx-trigger="end" hx-swap="none" id="questions">
        {{block "questions" .Questions}}
        {{range $i, $question := .}}
        <div class="block question-container">
            <input type="hidden" name="question" value="{{$question.Id}}">
            {{template "question.html" $question}}
        </div>
        {{end}}
        {{end}}
    </form>
</div>
{{end}}
{{end}}
{{template "footer" .}}