{{define "manage/block"}}
<div class="survey-block is-relative">
    <form hx-post="/manage/survey/{{.SurveyId}}/block/{{.Id}}/reorder" hx-trigger="reorder" hx-swap="none">
        <input type="hidden" name="index">
    </form>
    <a hx-post="/manage/survey/{{.SurveyId}}/block" hx-vals="js:index:findIndex(htmx.closest(event.target, '.survey-block'))" hx-target="closest .survey-block" hx-swap="beforebegin" class="is-icon has-text-primary is-decorator is-top">
        <span class="mdi mdi-plus-circle"></span>
    </a>
    <a hx-delete="/manage/survey/{{.SurveyId}}/block/{{.Id}}" hx-target="closest .survey-block" hx-swap="delete" class="is-icon has-text-danger is-decorator is-middle">
        <span class="mdi mdi-minus-circle"></span>
    </a>
    <a hx-post="/manage/survey/{{.SurveyId}}/block" hx-vals="js:index:findIndex(htmx.closest(event.target, '.survey-block'))+1" hx-target="closest .survey-block" hx-swap="afterend" class="is-icon has-text-primary is-decorator is-bottom if-last">
        <span class="mdi mdi-plus-circle"></span>
    </a>
    <div class="card is-radiusless">
        <header _="on click toggle .collapsed on next .card-content" class="card-header has-background-light is- is-clickable drag-handle">
            <span class="card-header-title">
                <span class="subtitle is-align-items-center is-flex is-justify-content-space-between" style="width: 100%">
                    <span class="is-flex is-align-items-center">
                        <span class="icon">
                            <span class="mdi mdi-drag"></span>
                         </span>
                        <span class="block-title">
                            {{block "manage/block-title" .}}
                            {{.Title}}
                            <span hx-get="/manage/survey/{{.SurveyId}}/block/{{.Id}}/title/edit" onclick="event.stopPropagation()" hx-target="closest .block-title" class="icon is-small is-clickable">
                                <span class="mdi ml-2 mdi-pencil"></span>
                            </span>
                            {{end}}
                        </span>
                    </span>
                    <span onclick="event.stopPropagation()">
                        <label class="checkbox">
                            Randomize
                            <input hx-put="/manage/survey/{{.SurveyId}}/block/{{.Id}}/randomize" hx-swap="none" type="checkbox" name="randomize" {{ if eq .Randomize true }} checked {{ end }} value="true">
                        </label>
                    </span>
                </span>
            </span>
        </header>
        <div hx-get="/manage/survey/{{.SurveyId}}/block/{{.Id}}/question" hx-trigger="load" hx-swap="afterbegin" hx-target="find .questions" class="card-content collapsed">
            <form>
                <div class="field is-horizontal">
                    <label class="field-label is-normal checkbox">
                        Submit after (seconds)
                        <input hx-patch="/manage/survey/{{.SurveyId}}/block/{{.Id}}" hx-target="this" {{if .Submit}}checked{{end}} name="submit" hx-trigger="change" type="checkbox" value="true">
                    </label>
                    <div class="control">
                        <input hx-patch="/manage/survey/{{.SurveyId}}/block/{{.Id}}" hx-target="this" value="{{.SubmitAfter}}" class="input" hx-trigger="keyup changed throttle:500ms" type="number" min="0" name="submitAfter">
                    </div>
                </div>
            </form>
            <div class="questions" data-blockid="{{.Id}}"></div>
            <button hx-target="previous .questions" hx-post="/manage/survey/{{.SurveyId}}/block/{{.Id}}/question" hx-swap="beforeend" class="button is-primary is-inverted mx-auto is-block mt-5">
                    <span class="icon">
                        <span class="mdi mdi-plus"></span>
                    </span>
                <span>Add question</span>
            </button>
        </div>
    </div>
</div>
{{end}}

{{define "manage/questions"}}
{{range $i, $question := .}}
{{template "manage/question" $question}}
{{end}}
{{end}}

{{define "manage/edit-block-title"}}
<form _="on click halt the event" hx-target="closest .block-title">
    <div class="field is-horizontal">
        <div class="control">
            <input class="input" name="title" value="{{.Title}}">
        </div>
        <div class="control">
            <button hx-put="/manage/survey/{{.SurveyId}}/block/{{.Id}}/title" class="button is-primary">Save</button>
        </div>
        <div class="control">
            <button hx-get="/manage/survey/{{.SurveyId}}/block/{{.Id}}/title" class="button">Cancel</button>
        </div>
    </div>
</form>
{{end}}