{{define "manage/question"}}
<div class="question block">
    <form hx-post="/manage/survey/{{.SurveyId}}/question/{{.Id}}/reorder" hx-target="closest .question" hx-trigger="reorder" hx-swap="outerHTML">
        <input type="hidden" name="index">
        <input type="hidden" name="blockId">
    </form>
    <div class="is-relative">
        <a hx-post="/manage/survey/{{.SurveyId}}/block/{{.BlockId}}/question" hx-target="closest .question" hx-swap="beforebegin" hx-vals="js:index:findIndex(htmx.closest(event.target, '.question'))" class="is-icon has-text-primary is-decorator is-top">
            <span class="mdi mdi-plus-circle"></span>
        </a>
        <a hx-delete="/manage/survey/{{.SurveyId}}/question/{{.Id}}" hx-target="closest .question" hx-swap="delete" class="is-icon has-text-danger is-decorator is-middle">
            <span class="mdi mdi-minus-circle"></span>
        </a>
        <a hx-post="/manage/survey/{{.SurveyId}}/block/{{.BlockId}}/question" hx-vals="js:index:findIndex(htmx.closest(event.target, '.question'))+1" hx-target="closest .question" hx-swap="afterend" class="is-icon has-text-primary is-decorator is-bottom if-last">
            <span class="mdi mdi-plus-circle"></span>
        </a>
        <div class="has-background-info pb-3 is-clickable drag-handle"></div>
        <div class="box">
            <div class="level">
                <div class="level-item level-left">
                    <div class="subtitle">{{.Title}}</div>
                </div>
                <div class="level-item level-right">
                    <button class="button is-link is-inverted" hx-get="/manage/survey/{{.SurveyId}}/question/{{.Id}}/edit" hx-target="closest .question" hx-swap="outerHTML">
                        Edit
                    </button>
                </div>
            </div>
            <div class="content">{{ unescape .Description }}</div>
            {{range $option := .Configuration.Options}}
            {{ if eq $.Configuration.QuestionType "single" }}
            <div>
                <label class="radio is-unselectable">
                    <input type="radio" name="option">
                    {{.Label}}
                </label>
            </div>
            {{end}}
            {{ if eq $.Configuration.QuestionType "multiple" }}
            <div>
                <label class="checkbox is-unselectable">
                    <input type="checkbox" name="option">
                    {{.Label}}
                </label>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
{{end}}