{{define "manage/survey.html"}}
{{template "header" .}}
{{with .Data}}
{{block "manage/survey" .}}
<script>
    function findIndex(e) {
        return Array.from(e.parentNode.children).indexOf(e)
    }
    htmx.onLoad((el) => {
        for (let editor of el.getElementsByClassName('editor')) {
            new Quill(editor, {
                theme: 'snow',
            })
        }
        for (let options of el.getElementsByClassName('options')) {
            Sortable.create(options, {
                handle: '.drag-handle',
                animation: 100,
            })
        }
        const blocks = htmx.find(el, '#blocks')
        if (blocks) {
            Sortable.create(blocks, {
                handle: '.drag-handle',
                filter: 'input',
                animation: 100,
                preventOnFilter: false,
                onEnd: e => {
                    if (e.newIndex === e.oldIndex) {
                        return
                    }
                    htmx.find(e.item, 'input[name=index]').value = e.newIndex
                    htmx.trigger(htmx.find(e.item, 'form'), 'reorder')
                },
                onStart: e => {
                    htmx.find(e.item, '.card-content').classList.add('collapsed')
                }
            })
        }
        for (let questions of htmx.findAll(el, '.questions')) {
            Sortable.create(questions, {
                group: 'questions',
                animation: 100,
                handle: '.drag-handle',
                onEnd: (e) => {
                    if (e.newIndex === e.oldIndex && e.to.dataset.blockid === e.from.dataset.blockId) {
                        return
                    }
                    htmx.find(e.item, 'input[name=index]').value = e.newIndex
                    htmx.find(e.item, 'input[name=blockId]').value = e.to.dataset.blockid
                    htmx.trigger(htmx.find(e.item, 'form'), "reorder")
                }
            })
        }
    })
</script>
<div class="section container">
    {{block "manage/navigation" .}}
    <div class="block navigation">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/manage/dashboard">Surveys</a></li>
                <li class="is-active"><a href="/manage/survey/{{.Id}}" aria-current="page">{{.Title}}</a></li>
            </ul>
        </nav>
        <div class="level">
            {{block "manage/survey-title" .}}
            <div class="level-item level-left">
                <h1 class="title">
                    <span>Survey {{.Title}}</span>
                    <span hx-get="/manage/survey/{{.Id}}/title/edit" hx-target="closest div" hx-swap="outerHTML" class="icon is-small is-clickable">
                        <span class="mdi mdi-pencil is-size-4"></span>
                    </span>
                </h1>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
    <div id="blocks">
        {{range $i, $block := .Blocks}}
        {{template "manage/block" .}}
        {{end}}
    </div>
    <div class="space"></div>
    <button hx-post="/manage/survey/{{.Id}}/block" hx-target="#blocks" hx-swap="beforeend" class="button is-primary is-inverted is-block mx-auto mt-5">
            <span class="icon">
                <span class="mdi mdi-plus"></span>
            </span>
        <span>Add block</span>
    </button>
</div>
{{end}}
{{end}}
{{template "footer" .}}
{{end}}

{{define "manage/edit-survey-title"}}
<form hx-target=".navigation" hax-swap="outerHTML">
    <input class="input" name="title" value="{{.Title}}">
    <button hx-put="/manage/survey/{{.Id}}/title" class="button is-primary">Save</button>
    <button hx-get="/manage/survey/{{.Id}}/title" class="button">Cancel</button>
</form>
{{end}}